<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
	<p>
		<h1>Bobbin Winder Control</h1>
		<h2> winding options</h2>
		<div>
		<form method ="post" action="/">
			<!-- Write your comments here -->
  			<!--<button style=”width: 550px;”type="submit" name="calibrate" value="cailbrate"> calibrate </button>
			&nbsp; -->
  			<button type="submit" name="start_winding" value="start_winding"> start_winding </button>
			&nbsp;
  			<button type="submit" name="stop" value="stop"> stop </button>
			 <br>
			 <br>
			 <br>
		</form> 		
		<h2> set up options</h2>
		<form method ="post" action="/">
  			<button type="submit" name="left" value="left"> left </button>
			&nbsp;
  			<button type="submit" name="right" value="right"> right </button>
			&nbsp;
  			<button type="submit" name="set" value="set"> set </button>
			 <br>
			 <br>
			 <br>
		</form> 		

		<h2> computer options</h2>
		<form method ="post" action="/">
  			<button type="submit" name="reboot" value="reboot"> reboot </button>
			&nbsp;
  			<button type="submit" name="shutdown" value="shutdown"> shutdown </button>
			 <br>
  	</p> 
    </body>
</html>

