<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <meta http-equiv="refresh" content="10">
   <title>{{ title }}</title>
   <body>
	<p>
		<h1>Bobbin Winder Control</h1>
		<h2> winding options</h2>
		<div>
		<form method ="post" action="/">
			<!-- Write your comments here -->
  			<!--<button style=”width: 550px;”type="submit" name="calibrate" value="cailbrate"> calibrate </button>
			&nbsp; -->
  			<button type="submit" name="start_winding" value="start_winding"> start_winding </button>
			&nbsp;
  			<button type="submit" name="pause" value="pause"> pause </button>
			&nbsp;
  			<button type="submit" name="stop" value="stop"> stop reset </button>
			 <br>
  			 {% for error in errors %}
        			<h4>{{ error }}</h4>
      		   	 {% endfor %}
			 <br>
		</form> 		
		<h2> set up options</h2>
		<form method ="post" action="/">
  			<button type="submit" name="left" style="width:100px;" value="left"> left </button>
			&nbsp;
  			<button type="submit" name="left set" style="width:100px;" value="left set"> left set </button>
			&nbsp;
  			<button type="submit" name="1X" style="width:100px;" value="1X"> 1X </button>
			&nbsp;
  			<button type="submit" name="2X" style="width:100px;" value="2X"> 2X </button>
			 <br>
		</form> 		
		<form method ="post" action="/">
  			<button type="submit" name="right" style="width:100px;" value="right"> right </button>
			&nbsp;
  			<button type="submit" name="right set" style="width:100px;" value="right set"> right set </button>
			&nbsp;
  			<button type="submit" name="5X" style="width:100px;" value="5X"> 5X </button>
			&nbsp;
  			<button type="submit" name="10X" style="width:100px;" value="10X"> 10X </button>
			&nbsp;
			 <br>

		</form> 		
		<h2> bobbin options</h2>
		<form method ="post" action="/">
  			<button type="submit" name="reboot" value="reboot"> reboot </button>
			&nbsp;
  			<button type="submit" name="shutdown" value="shutdown"> shutdown </button>
		</form> 		



		 <br>
		<h3> M1_rotations_left  =  {{ M1_rotations_left }}</h3>
		<h3> M1_rotations_right =  {{ M1_rotations_right }}</h3>
		<h3> M2_rotations   =  {{ M2_rotations }}</h3>
		<h3> Full_bobbin   =  {{ Full_bobbin }}</h3>
		</form> 		
		<h2> bobbin options</h2>
		<form method ="post" action="/">
  			<button type="submit" name="bobbin_increase" value="bobbin_increase"> bobbin_increase </button>
  			<button type="submit" name="bobbin_decrease" value="bobbin_decrease"> bobbin_decrease </button>
		</form> 		
  	</p> 
	<!--
	<form method="POST">
    		<input name="text">
    		<input type="submit">
	</form>
	-->
    </body>
</html>

