<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h1>Bobbin Winder Control</h1>
		<h2> control options</h2>
		<form method ="post" action="/">
  			<button type="submit" name="calibrate" value="cailbrate"> calibrate </button>
  			<button type="submit" name="start_winding" value="start_winding"> start_winding </button>
  			<button type="submit" name="reboot" value="reboot"> reboot </button>
  			<button type="submit" name="shutdown" value="shutdown"> shutdown </button>
		</form> 		
   </body>
</html>

